/*noinspection CssUnresolvedCustomProperty*/
:root {
    --icon-fill: #000000;
    --color-surface-1: var(--uxp-host-background-color);
    --color-border: var(--color-surface-4);
    --color-playhead: #346bff;
    --color-playhead-line: #aa1111;
    --header-height: 30px;
}

svg {
    fill: var(--icon-fill);
}

/*noinspection CssInvalidMediaFeature*/
@media (prefers-color-scheme: darkest) {
    :root {
        --icon-fill: #aaaaaa;
        --color-surface-2: #2f2f2f;
        --color-surface-3: #2b2b2b;
        --color-surface-4: #262626;
    }
}
